* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(231, 231, 231);
}

.cards-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-card {
  background: white;
  width: 25%;
}

.CircularProgressbar {
  height: 75px;
  width: 75px;
}

@media(max-width: 800px) {
  .cards-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .small-card {
    width: 90%;
  }
}